In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

# Gender,city - Nomila categorical features
# Cough - Ordinal categorical 
# has_covid - Label encodeing

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [6]:
X_train

    age  gender  fever   cough       city
71   75  Female  104.0  Strong      Delhi
17   40  Female   98.0  Strong      Delhi
99   10  Female   98.0  Strong    Kolkata
24   13  Female  100.0  Strong    Kolkata
22   71  Female   98.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
59    6  Female  104.0    Mild    Kolkata
19   42  Female    NaN  Strong  Bangalore
63   10    Male  100.0    Mild  Bangalore
97   20  Female  101.0    Mild  Bangalore
3    31  Female   98.0    Mild    Kolkata

[80 rows x 5 columns]

In [11]:
X_train.cough.value_counts()

cough
Mild      48
Strong    32
Name: count, dtype: int64

In [8]:
y_train

71     No
17     No
99    Yes
24     No
22    Yes
     ...
59    Yes
19    Yes
63     No
97     No
3      No
Name: has_covid, Length: 80, dtype: object

# Applying ColumnTrainsformer to all column one shoot

In [9]:
from sklearn.compose import ColumnTransformer

In [33]:
tran = ColumnTransformer(transformers= [
    ("mising_data",SimpleImputer(),['fever']),
    ("or",OrdinalEncoder(categories= [['Mild','Strong']]),['cough']),
    ("ohe",OneHotEncoder(sparse=False,drop="first",dtype="int32"),['gender','city'])
],remainder="passthrough")

# transformer = ColumnTransformer(transformers=[
#     ('tnf1',SimpleImputer(),['fever']),
#     ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
#     ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
# ],remainder='passthrough')

In [34]:
tran.fit_transform(X_train)
tran.transform(X_test)

/Users/vishalpatel/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[103.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  50.        ],
       [103.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  83.        ],
       [101.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  68.        ],
       [104.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  34.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  81.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  42.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,  44.        ],
       [102.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  64.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  83.        ],
       [ 99.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  25.        ],
       [101.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,  65.        ],
       [100.56944444,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  82.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,  25.        ],
       [ 99.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   0.        ,  59.        ],
       [104.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  16.        ],
       [ 99.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,  22.        ],
       [103.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  48.        ],
       [102.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.        ,  82.        ],
       [101.        ,   0.        ,   1.        ,   1.        ,
          0.        ,   0.        ,  19.        ],
       [100.56944444,   1.        ,   1.        ,   0.        ,
          1.        ,   0.        ,  71.        ]])

In [35]:
tran.fit_transform(X_test).shape

/Users/vishalpatel/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(20, 7)

In [32]:
pd.DataFrame(tran.fit_transform(X_train),columns=X_train.columns)

/Users/vishalpatel/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ValueError: Shape of passed values is (80, 9), indices imply (80, 5)

# this is because we have drop first column while OHE to avoid multiColinerarity