In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("customer.csv")

In [3]:
df.sample(3)

    age  gender   review education purchased
32   92    Male  Average        UG       Yes
18   19    Male     Good    School        No
29   83  Female  Average        UG       Yes

In [4]:
df.gender.value_counts()

gender
Female    29
Male      21
Name: count, dtype: int64

In [5]:
df.review.unique() ,df.review.value_counts()

(array(['Average', 'Poor', 'Good'], dtype=object),
 review
 Poor       18
 Good       18
 Average    14
 Name: count, dtype: int64)

In [6]:
df.education.unique() ,df.education.value_counts()

(array(['School', 'UG', 'PG'], dtype=object),
 education
 PG        18
 School    16
 UG        16
 Name: count, dtype: int64)

In [7]:
df.purchased.unique() ,df.purchased.value_counts()

(array(['No', 'Yes'], dtype=object),
 purchased
 No     26
 Yes    24
 Name: count, dtype: int64)

# We can see that column review,education contained ordinal data in order formate. Also purchased column contained categorical data but its not ordinal so we will apply Label encoding

In [8]:
df = df.iloc[ :,2:]

In [9]:
df.sample(3)

   review education purchased
19   Poor        PG       Yes
26   Poor        PG        No
23   Good    School        No

In [10]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df.drop("purchased",axis = 1),df.purchased)

In [11]:
X_train.shape

(37, 2)

In [12]:
X_test.shape

(13, 2)

In [13]:
X_train

     review education
19     Poor        PG
24  Average        PG
42     Good        PG
18     Good    School
10     Good        UG
34  Average    School
13  Average    School
37  Average        PG
3      Good        PG
22     Poor        PG
1      Poor        UG
47     Good        PG
41     Good        PG
46     Poor        PG
31     Poor    School
45     Poor        PG
21  Average        PG
7      Poor    School
17     Poor        UG
32  Average        UG
2      Good        PG
6      Good    School
16     Poor        UG
40     Good    School
25     Good    School
11     Good        UG
8   Average        UG
48     Good        UG
33     Good        PG
0   Average    School
29  Average        UG
26     Poor        PG
43     Poor        PG
36     Good        UG
12     Poor    School
49     Good        UG
28     Poor    School

# Lets apply Ordinal en oding on X_train

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
od = OrdinalEncoder(categories= [['Average', 'Poor', 'Good'],['School', 'UG', 'PG']])

In [16]:
od.categories

[['Average', 'Poor', 'Good'], ['School', 'UG', 'PG']]

In [17]:
od.fit(X_train)

X_train = od.transform(X_train)
X_test = od.transform(X_test)

In [18]:
X_train

array([[1., 2.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [1., 2.],
       [1., 1.],
       [2., 2.],
       [2., 2.],
       [1., 2.],
       [1., 0.],
       [1., 2.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [0., 0.],
       [0., 1.],
       [1., 2.],
       [1., 2.],
       [2., 1.],
       [1., 0.],
       [2., 1.],
       [1., 0.]])

# Applying Label encoding on Target categorical column

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
lb = LabelEncoder()

lb.fit(y_train)

y_train = lb.transform(y_train)
y_test = lb.transform(y_test)

In [21]:
y_train

array([1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [22]:
y_test

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1])