In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [4]:
df.describe()

              Age      Pclass        Fare    Survived
count  714.000000  891.000000  891.000000  891.000000
mean    29.699118    2.308642   32.204208    0.383838
std     14.526497    0.836071   49.693429    0.486592
min      0.420000    1.000000    0.000000    0.000000
25%     20.125000    2.000000    7.910400    0.000000
50%     28.000000    3.000000   14.454200    0.000000
75%     38.000000    3.000000   31.000000    1.000000
max     80.000000    3.000000  512.329200    1.000000

In [5]:
df.isnull().mean()

Age         0.198653
Pclass      0.000000
Fare        0.000000
Survived    0.000000
dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Pclass    891 non-null    int64
 2   Fare      891 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [8]:
X = df.drop(columns="Survived")
y = df.Survived

In [11]:
X

      Age  Pclass     Fare
0    22.0       3   7.2500
1    38.0       1  71.2833
2    26.0       3   7.9250
3    35.0       1  53.1000
4    35.0       3   8.0500
..    ...     ...      ...
886  27.0       2  13.0000
887  19.0       1  30.0000
888   NaN       3  23.4500
889  26.0       1  30.0000
890  32.0       3   7.7500

[891 rows x 3 columns]

In [12]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
# X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [19]:
# knn = KNNImputer(n_neighbors= 3 , weights= "distance") #weight- distance count the weifht based distance
knn = KNNImputer(n_neighbors= 3 , weights= "uniform")

In [20]:
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [27]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

print("accuracy",accuracy_score(y_pred,y_test))

accuracy 0.7039106145251397

In [28]:
st = SimpleImputer(strategy="mean",add_indicator=True)
X_train2 = st.fit_transform(X_train)
X_test2 = st.transform(X_test)

lr2 = LogisticRegression()
lr2.fit(X_train2,y_train)

ypred2 = lr2.predict(X_test2)

print("accuracy",accuracy_score(ypred2,y_test))

accuracy 0.6983240223463687